---
import Garanzia from '../assets/icone/garanzia-10-anni.svg?url'
import Rete from '../assets/icone/rete.svg?url'
import Generazione from '../assets/icone/ultima-generazione.svg?url'
---

<section class="cards flex justify-center mt-12 px-6">
    <div class="container flex lg:flex-row flex-col justify-between gap-5" data-aos="fade-up"> 
        <div class="card bg-white p-10 flex-4/12 shadow-md rounded-3xl">
            <img src={Generazione} alt="Icone Ultima Generazione" width="100" class="mx-auto"/>
            <h3 class="text-l font-semibold text-center mt-4 mb-2 text-gray-800">Tecnologia di Ultima Generazione</h3>
            <p class="text-center text-base text-gray-800">I posatori ufficiali di Maestri della Poliurea utilizzano solo la migliore poliurea a spruzzo Krypton Chemical per garantire un’impermeabilizzazione perfetta e duratura.</p>
        </div>

        <div class="card bg-white p-10 flex-4/12 shadow-md rounded-3xl">
            <img src={Rete} alt="Icone Ultima Generazione" width="100" class="mx-auto"/>
            <h3 class="text-l font-semibold text-center mt-4 mb-2 text-gray-800">Oltre 15 aziende, una rete unica</h3>
            <p class="text-center text-base text-gray-800">I Maestri della Poliurea, una rete di esperti certificati Krypton Chemical, operano nel Nord e Centro Italia. Rispondiamo rapidamente a ogni esigenza di impermeabilizzazione grazie alla collaborazione di aziende qualificate.</p>
        </div>

        <div class="card bg-white p-10 flex-4/12 shadow-md rounded-3xl">
            <img src={Garanzia} alt="Icone Ultima Generazione" width="100" class="mx-auto"/>
            <h3 class="text-l font-semibold text-center mt-4 mb-2 text-gray-800">Garanzia di 10 Anni sul lavoro svolto</h3>
            <p class="text-center text-base text-gray-800">Il tuo investimento vale. La nostra fiducia nella qualità del lavoro svolto ci permette di offrire una garanzia 10 anni. Con noi, hai la certezza di un servizio che resiste nel tempo.</p>
        </div>

     
        
    </div>
</section>