---
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/navigation';
import 'swiper/css/autoplay';

const { slides = [], slidesPerView = 3 } = Astro.props;
---

<div class="swiper w-full h-[20dvh]" data-slides-per-view={slidesPerView}>
  <div class="swiper-wrapper items-center">
    {slides.map(slide => (
      <div class="swiper-slide h-auto" key={slide.id} style="height: auto;">
        <img src={slide.image} alt={slide.title} class="w-[120px] rounded-xl object-cover m-auto" width="50"/>
      </div>
    ))}
  </div>

  <!-- Paginazione e navigazione -->
  <div class="swiper-pagination"></div>
</div>

<!-- Inizializzazione lato client -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    import('swiper').then(({ default: Swiper }) => {
      import('swiper/modules').then(({ Pagination, Navigation }) => {
        const swiperContainer = document.querySelector('.swiper');
        const slidesPerView = parseInt(swiperContainer.getAttribute('data-slides-per-view')) || 3;
        const autoplayDelay = parseInt(swiperContainer.getAttribute('data-autoplay-delay')) || 3000;


        new Swiper('.swiper', {
          modules: [Pagination, Navigation],
          spaceBetween: 20,
          slidesPerView: window.innerWidth < 768 ? 2 : slidesPerView, // Usa il valore dinamico
          pagination: { el: '.swiper-pagination', clickable: true },
          navigation: { nextEl: '.swiper-button-prev', prevEl: '.swiper-button-next' },
          autoplay: { delay: autoplayDelay } // Attiva autoplay
        });
      });
    });
  });
</script>
