---
import Preventivo from '../assets/preventivo.webp?url'
import arrow from '../assets/icone/arrow-right-solid.svg?url'
import phone from '../assets/icone/phone-solid.svg?url'

---


<section class="row flex justify-center mt-12 px-6" data-aos="fade-up">
    <div class="lg:p-20 p-8 container flex justify-between items-center gap-10 aos-init aos-animate rounded-3xl lg:flex-row flex-col bg-[#103d51]" 
    data-aos="fade-up">
        <div class="lg:w-1/2 w-full column">
            <img src={Preventivo} alt="Media" class="rounded-2xl w-full aspect-3/2 object-cover" />  
        </div>
        <div class="lg:w-1/2 w-full column">
            <h3 class="text-xl font-bold leading-[1.2] text-gray-50">Hai bisogno di un preventivo personalizzato?</h3>
            <p class="text-medium mt-5 text-gray-50">Ci vuole meno di 1 minuto. E’ Gratis e senza impegno.</p>
            <button data-form-trigger class="mt-5 bg-green-500 hover:bg-green-700 leading-0 py-6 px-6 rounded-full border-0 text-gray-50 flex items-center font-bold w-full md:w-auto justify-center" aria-label="Preventivo"><span class="lg:block hidden">CALCOLA </span>PREVENTIVO ONLINE<span><img src={arrow} alt="icona preventivo" class="w-[20px] ml-3" /></span></button>
            <a href="tel:+393514697325"><button class="mt-5 bg-blue-500 hover:bg-blue-700 leading-0 py-6 px-6 rounded-full border-0 text-gray-50 flex items-center font-bold w-full md:w-auto justify-center" aria-label="chiamata">CHIAMACI <span class="hidden md:block">AL 3514697325 </span><span><img src={phone} class="w-[20px] ml-3" alt="icona telefono"/></span></button></a>
        </div>
    </div>
</section>