---
import Perseo from '../assets/logo-perseo.svg?url'
---


<div class="banda-preventivo bg-white p-6 bottom-0 left-0 right-0 justify-center items-center flex z-1 mt-20">
    <button class="sm:hidden xl:block bg-green-500 hover:bg-green-700 leading-0 py-6 px-6 rounded-full border-0 text-gray-50" aria-label="Preventivo">RICHIEDI PREVENTIVO GRATUITO</button>
</div>

<section class="credits p-8 bg-gray-900 text-center">
    <div class="container flex font-bold justify-center text-xs lg:text-base"><span class="text-gray-200">Web Marketing a cura di:</span> <img src={Perseo} alt="logo creatore" class="w-[20px] mx-2"/><span class="text-[#EC6537]"><a href="https://bit.ly/Perseo_Marketing" target="_blank">Perseo Marketing Srl</a></span></div>
    </section>
<footer class="bg-gray-800 p-10">
    <div class="container flex justify-between lg:flex-row flex-col text-center">
        <div class="text-gray-200">P.IVA: IT12513170014 | <span class="year"></span> &copy; All rights reserved | Maestri Della Poliurea</div>
        <div class="text-gray-200">
            <a href="https://www.iubenda.com/privacy-policy/93512921" target="_blank">Privacy Policy</a>  <a href="https://www.iubenda.com/privacy-policy/93512921/cookie-policy" target="_blank">Cookie Policy</a>
        </div>
    </div>
</footer>

<script>
    let data = new Date().getFullYear();
    let anno = document.querySelector('.year');
    anno.innerHTML = `${data}`;
</script>