---
import Logo from '../assets/logo.svg?url';
import LogoWhite from '../assets/logo-white.svg?url';
let isMenuOpen = false;
---

<header class="flex justify-center w-full mt-7 px-6">
    <div class="container flex flex-row w-full items-center justify-between z-50">
        <img src={Logo} alt={Logo} class="logo w-5/12 sm:w-4/12 md:w-3/12 lg:w-2/12 duration-300"/>
        <nav class="flex flex-1 justify-end items-center hidden lg:flex">
            <ul class="flex flex-row">
                <li class="text-base font-medium px-4 text-gray-800">Impermeabilizzazione</li>
                <li class="text-base font-medium px-4 text-gray-800">Certificazione</li>
                <li class="text-base font-medium px-4 text-gray-800">Lavori</li>
                <li class="text-base font-medium pl-4 text-gray-800">Dove Operiamo</li>
            </ul>
            <button class="sm:hidden xl:block bg-green-500 hover:bg-green-700 leading-0 py-6 px-6 rounded-full border-0 text-gray-50 ml-8">RICHIEDI PREVENTIVO GRATUITO</button>
        </nav>

        <!-- Menu Toggle -->
        <button class="menu-trigger lg:hidden relative w-12 h-5 flex flex-col justify-between items-center">
            <span class="w-8 h-[2px] bg-gray-600 transition-transform"></span>
            <span class="w-8 h-[2px] bg-gray-600 transition-opacity"></span>
            <span class="w-8 h-[2px] bg-gray-600 transition-transform"></span>
          </button>
          
    </div>
</header>
<nav class="menu-mobile menu-mobile absolute opacity-0 invisible transition-opacity duration-300 ease-in-out top-0 w-full h-dvh">
    <ul class="menu-items absolute pl-7 top-60">
        <li class="text-xl font-medium mb-6 text-gray-50"><a href="#">Impermeabilizzazione</a></li>
        <li class="text-xl font-medium mb-6 text-gray-50"><a href="#">Certificazione</a></li>
        <li class="text-xl font-medium mb-6 text-gray-50"><a href="#">Lavori</a></li>
        <li class="text-xl font-medium mb-6 text-gray-50"><a href="#">Dove Operiamo</a></li>
    </ul>
</nav>
