---
import Logo from '../assets/logo.svg?url';
import LogoWhite from '../assets/logo-white.svg?url';
let isMenuOpen = false;
---

<header class="flex justify-center w-full mt-7 px-6 top-0 z-10  transition duration-200">
    <div class="container flex flex-row w-full items-center justify-between z-50 transition duration-200">
        <img src={Logo} alt={Logo} class="logo w-5/12 sm:w-4/12 md:w-3/12 lg:w-2/12 duration-300"/>
        <nav class="flex flex-1 justify-end items-center hidden lg:flex">
            <ul class="flex flex-row">
                <li class="text-base font-medium px-4 text-gray-800"><a href="#impermeabilizzazione">Impermeabilizzazione</a></li>
                <li class="text-base font-medium px-4 text-gray-800"><a href="#certificazioni">Certificazione</a></li>
                <li class="text-base font-medium px-4 text-gray-800"><a href="#lavori">Lavori</a></li>
                <li class="text-base font-medium pl-4 text-gray-800"><a href="#dove-operiamo">Dove Operiamo</a></li>
            </ul>
            <button class="sm:hidden xl:block bg-green-500 hover:bg-green-700 leading-0 py-6 px-6 rounded-full border-0 text-gray-50 ml-8 btn-preventivo" aria-label="Preventivo" data-form-trigger>RICHIEDI PREVENTIVO GRATUITO</button>
        </nav>

        <!-- Menu Toggle -->
        <button class="menu-trigger lg:hidden relative w-12 h-5 flex flex-col justify-between items-center" aria-label="Menu">
            <span class="w-8 h-[2px] bg-gray-600 transition-transform"></span>
            <span class="w-8 h-[2px] bg-gray-600 transition-opacity"></span>
            <span class="w-8 h-[2px] bg-gray-600 transition-transform"></span>
          </button>
          
    </div>
</header>


<header class="header-sticky flex fixed z-999 translate-y-[-300%] transition duration-200 opacity-0 justify-center w-full mt-7 px-6 top-0">
    <div class="container flex flex-row w-full items-center justify-between z-50 bg-white p-5 rounded-3xl">
        <img src={Logo} alt={Logo} class="logo w-5/12 sm:w-4/12 md:w-3/12 lg:w-2/12 duration-300"/>
        <nav class="flex flex-1 justify-end items-center hidden lg:flex">
            <ul class="flex flex-row">
                <li class="text-base font-medium px-4 text-gray-800"><a href="#impermeabilizzazione">Impermeabilizzazione</a></li>
                <li class="text-base font-medium px-4 text-gray-800"><a href="#certificazioni">Certificazione</a></li>
                <li class="text-base font-medium px-4 text-gray-800"><a href="#lavori">Lavori</a></li>
                <li class="text-base font-medium pl-4 text-gray-800"><a href="#dove-operiamo">Dove Operiamo</a></li>
            </ul>
            <button class="sm:hidden xl:block bg-green-500 hover:bg-green-700 leading-0 py-6 px-6 rounded-full border-0 text-gray-50 ml-8 btn-preventivo" aria-label="Preventivo" data-form-trigger>RICHIEDI PREVENTIVO GRATUITO</button>
        </nav>

        <button class="menu-trigger lg:hidden relative w-12 h-5 flex flex-col justify-between items-center" aria-label="Menu">
            <span class="w-8 h-[2px] bg-gray-600 transition-transform"></span>
            <span class="w-8 h-[2px] bg-gray-600 transition-opacity"></span>
            <span class="w-8 h-[2px] bg-gray-600 transition-transform"></span>
          </button>
          
    </div>
</header>



<nav class="menu-mobile menu-mobile fixed opacity-0 invisible transition-opacity duration-300 ease-in-out top-0 w-full h-dvh -z-10">
    <ul class="menu-items absolute pl-7 top-60">
        <li class="text-xl font-medium mb-6 text-gray-50"><a href="#impermeabilizzazione">Impermeabilizzazione</a></li>
        <li class="text-xl font-medium mb-6 text-gray-50"><a href="#certificazioni">Certificazione</a></li>
        <li class="text-xl font-medium mb-6 text-gray-50"><a href="#lavori">Lavori</a></li>
        <li class="text-xl font-medium mb-6 text-gray-50"><a href="#dove-operiamo">Dove Operiamo</a></li>
    </ul>
</nav>
