---
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import Close from '../assets/icone/close.svg?url'

const { images = [] } = Astro.props;
---

<div id="lightbox" class="fixed inset-0 bg-[#000000c9] flex items-center justify-center hidden z-1000">
  <div class="relative max-w-3xl w-full">
    <button id="close-lightbox" class="absolute top-[-50px] right-[20px] lg:right-[-45px] text-white text-2xl z-30"><img src={Close} alt="Bottone di chiusura" class="lg:w-[100px] w-[50px]"/></button>

    <div class="swiper lightbox-slider rounded-3xl">
      <div class="swiper-wrapper items-center">
        {images.map((img, index) => (
          <div class="swiper-slide" key={index}>
            <img src={img.src} alt="immagine lavoro ingrandita" class="lg:w-[800px] lg:h-[800px] w-[80dvw] h-[50dvh] object-cover rounded-3xl m-auto" />
          </div>
        ))}
      </div>

      <div class="swiper-button-prev text-white"></div>
      <div class="swiper-button-next text-white"></div>
    </div>
  </div>
</div>