---
import ArrowDown from '../assets/arrow-down.svg?url'
---


<section class="step-preventivo flex items-center space-x-4 flex-col mt-12 px-6">
    <div class="lg:p-20 md:p-8 p-4 container gap-10 aos-init aos-animate rounded-3xl">
        <h3 class="text-xxl text-center font-bold text-gray-800 leading-[1.2]">Come ricevere un <br><span class="underline decoration-green-500">preventivo gratuito</span></h3>
        <div class="steps flex flex-col items-center">
            <div class="step bg-[#103d51] lg:p-10 rounded-3xl text-l text-white font-semibold mt-10 text-center lg:w-5/12 w-12/12 p-5">Clicca il tasto "calcola preventivo online"</div>
            <img src={ArrowDown} alt="indicatore step" width="50" class="my-6"/>
            <div class="step bg-[#103d51] lg:p-10 rounded-3xl text-l text-white font-semibold  text-center lg:w-5/12 w-12/12 p-5">Rispondi alle domande per spiegarci<br> come possiamo aiutarti</div>
            <img src={ArrowDown} alt="indicatore step" width="50" class="my-6"/>
            <div class="step bg-[#103d51] lg:p-10 rounded-3xl text-l text-white font-semibold  text-center lg:w-5/12 w-12/12 p-5">Invia la richiesta</div>
            <img src={ArrowDown} alt="indicatore step" width="50" class="my-6"/>
            <div class="step bg-[#103d51] lg:p-10 rounded-3xl text-l text-white font-semibold  text-center lg:w-5/12 w-12/12 p-5">Ricevi il tuo preventivo gratuito e senza impegno</div>
        </div>
       
    </div>
</section>