---
import "../styles/global.css";
// Importa il file JS
import '../data/main.js';
import '../data/aos.js'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Problemi di infiltrazioni? Risolvili con la Poliurea a Spruzzo Maestri della Poliurea è una rete di esperti nell&#8217;impermeabilizzazione di capannoni, edifici industriali, commerciali e strutture pubbliche. (*)Servizio disponibile solo per aziende ed enti pubblici Tecnologia di Ultima Generazione I posatori ufficiali di Maestri della Poliurea utilizzano solo la migliore poliurea a spruzzo Krypton Chemical.">
		<title>Mestri della Poliurea - Sito Ufficiale</title>
		<meta property="og:description" content="Problemi di infiltrazioni? Risolvili con la Poliurea a Spruzzo Maestri della Poliurea è una rete di esperti nell&#8217;impermeabilizzazione di capannoni, edifici industriali, commerciali e strutture pubbliche. (*)Servizio disponibile solo per aziende ed enti pubblici Tecnologia di Ultima Generazione I posatori ufficiali di Maestri della Poliurea utilizzano solo la migliore poliurea a spruzzo Krypton Chemical per [&hellip;]" />
		<meta property="og:site_name" content="Mestri della Poliurea | Impermeabilizzazione e coibentazione per l&#039;edilizia" />
		<meta property="og:url" content="https://www.maestridellapoliurea.it/" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<script type="text/javascript">
			var _iub = _iub || [];
			_iub.csConfiguration = {"askConsentAtCookiePolicyUpdate":true,"floatingPreferencesButtonDisplay":"bottom-right","floatingPreferencesButtonZIndex":-999,"perPurposeConsent":true,"siteId":3622072,"whitelabel":false,"cookiePolicyId":93512921,"lang":"it","banner":{"acceptButtonDisplay":true,"closeButtonRejects":true,"customizeButtonDisplay":true,"explicitWithdrawal":true,"listPurposes":true,"ownerName":false,"position":"float-top-center","showTitle":false}};
			</script>
			<script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3622072.js"></script>
			<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
	</head>
	<body>
		<slot />
		
		<script>
			import "../data/main.js";
			import '../data/aos.js';
			import '../data/formTrigger.js';
		  </script>
	</body>
</html>

