---
import "../styles/global.css";
// Importa il file JS
import '../data/main.js';
import '../data/aos.js'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Problemi di infiltrazioni? Risolvili con la Poliurea a Spruzzo Maestri della Poliurea è una rete di esperti nell&#8217;impermeabilizzazione di capannoni, edifici industriali, commerciali e strutture pubbliche. (*)Servizio disponibile solo per aziende ed enti pubblici Tecnologia di Ultima Generazione I posatori ufficiali di Maestri della Poliurea utilizzano solo la migliore poliurea a spruzzo Krypton Chemical.">
		<title>Mestri della Poliurea - Sito Ufficiale</title>
	</head>
	<body>
		<slot />
		
		<script>
			import "../data/main.js";
			import '../data/aos.js';
			import '../data/formTrigger.js';
		  </script>
	</body>
</html>

